body {
  background-image: url('./images/Game-Background.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  height: 100vh;
}
#body-pflichtenheft {
  background-image: none;
  background-color: #bbbbbb;
}
.btn-play {
  border: 5px solid #000000;
  border-radius: 10px;
  text-align: center;
  background-color: transparent;
  color: #ffffff;
}
.btn-secondary:hover, .btn-outline-secondary:hover,
.btn-secondary:focus, .btn-outline-secondary:focus {
  background-color: transparent;
  color: ffffff;
  border: 5px solid #ffffff;
}
a:link, a:visited, a:hover, a:active {
  color: #000000;
  text-decoration: none;
}
#landscape-reminder {
  visibility: hidden;
}
.modal-dialog{
  overflow-y: initial !important
}
.modal-body{
  max-height: 80vh;
  overflow-y: auto;
}
#goback,
#pflichtenheft,
#gitlab-repo {
  width: 200px;
}
@media only screen and (max-aspect-ratio: 16/9.001),
only screen and (min-aspect-ratio: 21/9.001) {
  #landscape-reminder {
    visibility: visible;
  }
}
